* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: darkgray;
    color: hsl(200, 10%, 20%);
    max-width: 400px;
    padding: 1rem;
    margin: 0 auto;
}

.new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.btn {
    background: hsla(200, 100%, 50%, 0.1);
    border: 1px solid black (200, 100%, 50%);
    color: black (200, 100%, 50%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
}

.btn:hover,
.btn:focus-visible {
    background: hsla(200, 100%, 50%, 0.2);
}

.btn.btn-danger {
    background: hsla(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
    background: hsla (0, 100%, 40%, 0.2);
}

.new-item-form input {
    outline: none;
    border: 1px solid hsl(200, 100%, 50%);
    background: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    color: hsl(200, 10%, 20%);
}

.header {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.5rem;
    border-radius: 0.25em;
    border: 1px solid hsl(200, 10%, 80%);
}

.list-item label {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.list-item input[type="checkbox"] {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.list-item.done {
    opacity: 0.6;
    text-decoration: line-through;
}